body{
font-family: Arial;
margin:0;
background:#f4f6f8;
}

header{
background:#2e7d32;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#43a047;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.container{
width:350px;
margin:40px auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
width:100%;
padding:8px;
margin:10px 0;
border-radius:5px;
border:1px solid #ccc;
}

button{
width:100%;
padding:10px;
background:#2e7d32;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1b5e20;
}

table{
width:80%;
margin:30px auto;
border-collapse:collapse;
background:white;
}

th,td{
padding:12px;
text-align:center;
border-bottom:1px solid #ddd;
}

th{
background:#66bb6a;
color:white;
}